.checkbox-block, .button-block {
    display: inline-block;
    text-align: center;
}

.field {
    margin-bottom: 7px;
    margin-top: 20px;
}

.text-field {
    border-radius: 2px;
    border: 2px solid black;
    padding: 3px;
    background: transparent;
}

.text-field:active {
    border-color: darkblue;
}

input {
    padding: 0;
    margin: 0;
    border: 0;
}
.radio, .checkbox {
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid black;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 5px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
}

.radio:hover, .checkbox:hover {
    background-color: #da9bff;
}

.radio:checked, .checkbox:checked {
    background-color: black;
}

#submit-button {
    -webkit-appearance: none;
    border: 2px solid black;
    border-radius: 4px;
    font-weight: bolder;
    padding: 2px;
    background: transparent;
}

.numbered-button:hover {
    box-shadow: 0 0 2px 2px darkslategray;
}

.numbered-button {
    font-family: inherit;
    font-size: 11px;
    border: 2px solid black;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    background: transparent;
    margin-right: 10px;
    padding: 3px;
}

#x-preview {
    margin: 10px 5px 5px;
}

.fire-button {
    padding: 10px;
    font-size: 20px;
    font-family: inherit;
    border: 2px solid black;
    border-radius: 4px;
    background: red;
    float: right;
}

.fire-button:hover {
    background: #8e0e0e;
}
