:root {
    --gradient-first-color: rgb(85, 85, 189);
    --gradient-second-color: rgb(217, 115, 255);
}

#body {
    background: linear-gradient(60deg, var(--gradient-first-color), var(--gradient-second-color));
    min-height: 100vh;
}

#errorDisplay {
    color: #c61010;
    font-weight: bolder;
    font-size: 18px;
    text-shadow: black 1px 1px 0, black -1px -1px 0,
                 black -1px 1px 0, black  1px -1px 0;
    padding: 0 0 0 4%;
    margin: 2px;
    height: 24px;
}

.errors {
    height: 24px;
}