.container {
    border: black solid 4px;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    display: inline-block;
    padding: 10px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#canvas {
    width: 320px;
    height: 320px;
    position: relative;
    top: -320px;
    left: 0px;
    z-index: 1;
}

#background {
    width: 320px;
    height: 320px;
    position: relative;
    z-index: 2;
}

#image-container {
    width: 380px;
    height: 340px;
    padding: 40px 0 0 40px;
    float: right;
}

#form-container {
    /*position: relative;
    bottom: 490px;*/
    float: left;
}

#controlls {
    /*height: 400px;*/
    margin-left: auto;
    margin-right: auto;
}
